
$primary-font-color:purple;
$secondary-font-color:purple;
$font-color-1:white;
$font-color-2:purple;

$primary-background-color:#9c009c;
$secondary-background-color:purple;
$background-color-1:#9c009c;

$primary-accent-color:rgb(243,242,242);
$secondary-accent-color:grey;
$accent-color-1:white;
$accent-color-2:grey;

@font-face {
  font-family: 'Poppins Black';
  src: url('./assets/fonts/Poppins-Black.ttf') format('ttf');
}

// @font-face {
//   font-family: 'La Belle Aurore';
//   src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2');
// }

// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
// }

// input,
// textarea{
//   font-family: 'Helvetica Neue';
// }