$font-color-1:white;
$font-color-2:purple;
$font-color-dark-1:white;


$background-color-1:#9c009c;
$background-color-2:white;
$background-color-dark-1:#222;


$accent-color-1:white;
$accent-color-2:rgb(231, 230, 230);
$accent-color-dark-1:white;


@font-face {
  font-family: 'Poppins Black';
  src: url('../fonts/Poppins-Black.ttf') format('ttf');
}